<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>{{makeUpper 'This is a some text'}}</p>
    {{> footer}}
  </body>
</html>
