<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
  </head>
  <body>
    {{> header}}
    <p><a href="https://github.com/brianfgonzalez">Github Repositories</a></p>
    <p><a href="http://supportishere.com/">My Blog</a></p>
    {{> footer}}
  </body>
</html>
